@charset "UTF-8";
/*****************************************************************************
 * Стили страницы.
 *****************************************************************************/
/* Занять всю высоту и ширину окна. */
html, body , html body {
    width: 100%;
    height: 100%;
}
/* Общие стили страницы. */
body {
    font-family: Tahoma, Verdana, sans-serif;
    background: #eeee;
    color: #303332;
    overflow: hidden;
}

/*****************************************************************************
 * Стили приложения.
 *****************************************************************************/
/* Основа чата. */
#wchat_app {
    background:#fefefe;
    max-width: 1024px;
    margin: auto;
    height: 100%;
    border: 1px solid #ddd;
}

/*****************************************************************************
 * Стили заголовка приложения.
 *****************************************************************************/
/* Заголовок. */
header {
    background: #ddd;
    padding: 5px 10px;
    width: inherit;
}
/* Логотип. */
#logo {
    display: inline;
}
#logo img {
    height: 40px;
}
/* Верхнее меню. */
#menu {
    display: inline;
    float: right;
}
/* Обертка списка пунктов. */
#menu ul{
    display: flex;
    font-size: 16px;
}
/* Пункт меню. */
#menu ul li{
    display: list-item;
    padding: 13px 15px;
}
#menu ul li a {
    text-decoration: none;
    color: #303332;
}
/* Пункт меню при наведении мыши. */
#menu ul li:hover a{
    color: #548722;
    cursor: pointer;
}
/* Выбраный пункт меню. */
#menu ul li.selected{
    color: #548722;
    text-decoration: underline;
}

/*****************************************************************************
 * Стили содержимого чата.
 *****************************************************************************/
/* Обертка сождержимого чата. */
#content {
    height: calc(100% - 60px);
}

/*****************************************************************************
 * Стили списка контактов и поиска.
 *****************************************************************************/
/* Обертка списка контактов. */
#contact_list {
    width: 300px;
    float: left;
    border-right: #ddd 1px solid;
    height: 100%;
}
/* Обертка поля поиска. */
#search {
    padding: 10px;
    background: #eee;
    border-bottom: #ddd 1px solid;
}
/* Обертка списка контактов. */
.contact_list {
    overflow-y: scroll;
    height: calc(100% - 50px);
}
/* Обертка контакта. */
.contact_list .contact {
    display: flex;
}
/* Обертка контакта при наведении мыши. */
.contact_list .contact:hover {
    background: #eee;
    cursor: pointer;
}
/* Общие настройки элементов контакта. */
.contact_list .contact .icon,
.contact_list.contact .info,
.contact_list .contact .time {
    margin: 10px;
}
/* Фото контакта */
.contact_list .contact .icon .photo {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    overflow: hidden;
}
/* Информация о контакте. */
.contact_list .contact .info {
    width: 145px;
}
/* Общие настройки элементов контакта. */
.contact_list .contact .info p {
    margin: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
/* Имя пользователя. */
.contact_list .contact .info .username {
    font-weight: bold;
}
/* Последнее сообщение. */
.contact_list .contact .info .lastmessage {
    font-size: smaller;
}
/* Время последнего сообщения. */
.contact_list .contact .time {
    font-size: 12px;
    margin-top: 20px;
}

/*****************************************************************************
 * Стили чата.
 *****************************************************************************/
/* Обертка чата. */
#chat {
    max-width: 723px;
    width: calc(100% - 301px);
    float: right;
    display: block;
    height: 100%;
}

/*****************************************************************************
 * Стили отображаемых сообщений.
 *****************************************************************************/
/* Контейнер списка сообщений. */
#chat #messages {
    display: block;
    overflow-y: scroll;
    height: calc(100% - 100px);
}
/* Контейнер сообщения. */
#messages .message {
    padding: 5px 0;
}
/* Обертка иконки пользователя. */
#messages .message .icon {
    width: 50px;
    height: 50px;
    margin: 10px 5px;
    display: inline-block;
    vertical-align: top;
}
/* Иконка пользователя. */
#messages .message .icon .photo {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    overflow: hidden;
}
/* Обертка сообщения. */
#messages .message .info {
    margin: 10px 5px;
    width: calc(100% - 140px);
    display: inline-block;
    vertical-align: top;
}
/* Пимя пользователя. */
#messages .message .info .username {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 14px;
}
/* Текущее сообщение. */
#messages .message .info .currentmessage {
    font-size: 14px;
    margin: 5px 0;
    text-indent: 1em;
    text-align: justify;
}
/* Время отправки сообщения. */
#messages .message .time {
    margin: 10px 5px;
    display: inline-block;
    vertical-align: top;
    font-size: 10px;
    font-weight: bold;
}

/*****************************************************************************
 * Стили поля управления.
 *****************************************************************************/
/* Общее поле  управления. */
#chat #controls {
    display: block;
    padding: 10px;
    background: #eee;
    border-top: #ddd 1px solid;
}
#controls #format {
    display: flex;
    padding: 10px;
}
#format #colorformat,
#format #textformat {
    padding: 0 10px;
}

/*****************************************************************************
 * Стили текстового поля.
 *****************************************************************************/
/* Обертка вокруг поля. */
.textinput {
    display: flex;
    border: 1px #bbb solid;
}
/* Текстового поле. */
.textinput .textfield {
    width: 100%;
    margin: 0 2px;
    border: none;
    outline: 0;
    background: transparent;
    color: #303332;
    padding: 0 5px;
}
/* Выбаное текстовое поле. */
.textinput .textfield:focus,
.textinput .textfield:active {
    background: #fefefe;
    color: #000;
}

/*****************************************************************************
 * Кнопки.
 *****************************************************************************/
/* Стиль "квадратной" кнопки 30х30. */
.squarebutton {
    width: 30px;
    height: 30px;
    outline: 0;
    padding: 7px;
}
/* Скрытая кнопка. */
.squarebutton.hidden {
    background: none !important;
    border: none !important;
    cursor: default !important;
}
/* Кнопка при наведении мышью. */
.squarebutton:hover {
    cursor: pointer;
}
/* Кнопка с текстом внутри. */
.textbutton {
    display: block;
    font-weight: 400;
    color: #fff;
    background-color: #303332;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #222;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    cursor: pointer;
    width: 100px;
    margin: 20px auto;
    outline: 0;
}
/* Кнопка с текстом внутри. */
.textbutton:hover {
    background-color: #548722;
    border-color: greenyellow;
}

/*****************************************************************************
 * Кнопки с цветами.
 *****************************************************************************/
/* Выбраная/активная кнопка. */
.colorbutton.selected,
.colorbutton:active {
    border: #fff 1px solid;
}
.colorbutton.selected::after,
.colorbutton:active::after{
    content: "+";
    color: #eee;
}
/* Черная кнопка. */
.colorbutton.black {
    background: black;
}
/* Красная кнопка. */
.colorbutton.red {
    background: maroon;
}
/* Зеленая кнопка. */
.colorbutton.green {
    background: darkgreen;
}
/* Синяя кнопка. */
.colorbutton.blue {
    background: midnightblue;
}

/*****************************************************************************
 * Кнопки с иконками.
*****************************************************************************/
/* Общие установки для кнопки.*/
.iconbutton {
    background: url('../img/buttons.png') no-repeat;
    background-position-x: 0;
    border: none;
}
/* Кнопка при наведении. */
.iconbutton:hover {
    background-position-x: -30px;
}
/* Нажатая кнопка. */
.iconbutton:active,
.iconbutton.selected{
    background-position-x: -60px;
    border: none;
}
/* Деактивированная кнопка. */
.iconbutton:disabled,
.iconbutton.disabled{
    background-position-x: -90px;
}
/* Кнопка подчеркнутого текста. */
.iconbutton.underline{
    background-position-y: 0;
}
/* Кнопка наклонного текста. */
.iconbutton.italic{
    background-position-y: -30px;
}
/* Кнопка отмены. */
.iconbutton.cancel{
    background-position-y: -60px;
}
/* Кнопка жирного текста. */
.iconbutton.bold{
    background-position-y: -90px;
}
/* Кнопка поиска. */
.iconbutton.search{
    background-position-y: -120px;
}
/* Кнопка отправки текста. */
.iconbutton.send{
    background-position-y: -150px;
}

/*****************************************************************************
 * Стили Модальных окон
 *****************************************************************************/
/* Стиль для модальных окон. */
.modal {
    width: inherit;
    height: inherit;
    background: url('../img/modal_bg.png') repeat top left;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 200px;
}
/* Обертка содержимого. */
.modal .cover {
    width: 400px;
    display: block;
    margin: auto;
    background: #ddd;
    padding: 25px;
    border: #bbb 1px solid;
}
/* Стиль заголовка модального окна. */
.cover .modal_header {
    height: 30px;
    background: #f6f6f6;
}
/* Кнопка закрыть окно. */
.cover .modal_header .cancel {
    float: right;
}
/* Обертка содержимого окна. */
.cover .modal_content {
    background: #fefefe;
}
/* Стиль заголовка окна. */
.cover .modal_content h3 {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    height: 50px;
    border-bottom: 1px solid #ccc;
    background: #f6f6f6;
}
/* Текстовое поле с текстовой меткой. */
.labeled_input {
    padding: 5px 10px;
    height: 40px;
    margin: 5px 10px;
}
.labeled_input label {
    padding: 7px;
    width: 100px;
    display: inline-block;
}
.labeled_input input {
    height: 30px;
    width: 237px;
}
/* Стилизация окна "Контакты". */
#contacts_modal .cover {
    height: 400px;
}
#contacts_modal .modal_content {
    height: 370px;
}
#contacts_modal .icon .photo {
    width: 30px;
    height: 30px;
}
#contacts_modal .info{
    padding: 5px;
}
#contacts_modal .info p {
    line-height: 30px;
    height: 30px;
}
/* Стилизация окна "Вход". */
#login_modal .cover {
    height: 260px;
}
#login_modal .modal_content {
    height: 230px;
}